/* Impor gaya PrimeReact */
@import "primereact/resources/themes/lara-light-blue/theme.css"; /* Pilih tema */
@import "primereact/resources/primereact.min.css";

@font-face {
    font-family: HelveticaNeueRoman;
    src: url('assets/fonts/HelveticaNeueRoman.otf');
}

@font-face {
    font-family: HelveticaNeueBold;
    src: url('assets/fonts/HelveticaNeueMedium.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;